html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    font-size: 14px;
    font-family: 'Muli', Arial, sans-serif;
    margin:0;
    padding:0;
    height:100%;
}


.sidebar-wrapper {
    width: 100%;
    overflow:  hidden;
    margin-top: 20px;
}

.logo {
    padding-left: 50px;
    width: 250px;
    float: left;
    cursor: pointer;
}

.sidebar {
    margin-left: 320px;
}

.button {
    border: 1px solid grey;
    text-align: center;
    font-size: 20px;
}

.headlines-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.headlines {
    height: 100%;
    background-color: rgb(255, 232, 232);
    width: 800px;
    float: left;
}

.fill {
    cursor: pointer;
}

.hold {
    border: solid #ccc 2px
}

.hovered {
    background: #5a1b1b;
    border-style: dashed;
}

.invisible {
    display: none;
}

.saved{
    margin-top: -20px;
    height: 100%;
    margin-left: 810px;
    background-color: rgb(252, 138, 97);
  }
.empty {
  display: inline-block;
  height: 30px;
  width: 100%;
  margin-left: 10px;
  border: solid 1px black;
  background: white;
}


