<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cardo&display=swap" rel="stylesheet">

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="{{ url_for('static', filename='html5sortable.js') }}"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>



    <title>Scholar.ly</title>
</head>

<body>




    <div class="sidebar-wrapper">

        <div class="logo">
            <script>
                function home() {
                    document.getElementById("text").innerHTML =
                        "<div class='homeinfo'>\
                        <h1 style='text-align: center; font-family: Cardo'>Welcome to Scholarly</h1>\
                        <h2 style='font-family: Cardo;'>Our mission</h2>\
                        <p id='mission'>At Scholarly, we aim to provide simple and easy access to leading scientific\
                            journals around\
                            the world. Here readers can stay up to date on the latest scientific articles and\
                            discoveries. Scholar.ly acts as a hub for all your scholarly pursuits. We believed a simple,\
                            clean, and intuitive user interface was crucial to the quality\
                            of our service. Scholarly uses the latest web-scraping software to deliver accurate and high\
                            quality results. </p>\
                    </div>"
                }
            </script>
            <img id="logo" src="{{ url_for('static',filename='images/logo.png') }}" alt="logo" onclick="home()">
        </div>

        <div class="sidebar">
            <!-- <button id="cat1" , onclick="bio()">Biological Sciences</button>
            <script>
                function bio() {
                    document.getElementById("text").innerHTML =
                        "<ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in data[0].items() %}\
                        <li class='p1 mb1 navy bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 bg-navy ghost border border-yellow'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                }

            </script>

            <button id="cat2" , onclick="sci()">Scientific Community and Society</button>
            <script>
                function sci() {
                    document.getElementById("text").innerHTML =
                        "<ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in data[1].items() %}\
                        <li class='p1 mb1 navy bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 bg-navy ghost border border-yellow'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                } </script>

            <button id="cat3" , onclick="earth()">Earth and Environmental Sciences</button>
            <script>
                function earth() {
                    document.getElementById("text").innerHTML =
                        "<ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in data[2].items() %}\
                        <li class='p1 mb1 navy bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 bg-navy ghost border border-yellow'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                } </script>

            <button id="cat4" , onclick="health()">Health Sciences</button>
            <script>
                function health() {
                    document.getElementById("text").innerHTML =
                        "<ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in data[3].items() %}\
                        <li class='p1 mb1 navy bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 bg-navy ghost border border-yellow'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                } </script>

            <button id="cat5" , onclick="physical()">Physical Sciences</button>
            <script>
                function physical() {
                    document.getElementById("text").innerHTML =
                        "<ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in data[4].items() %}\
                        <li class='p1 mb1 navy bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 bg-navy ghost border border-yellow'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                } </script>

            <button id="cat6" , onclick="h_o()">Hematology/Oncology</button>
            <script>
                function h_o() {
                    document.getElementById("text").innerHTML =
                        "<ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in nejm[0].items() %}\
                        <li class='p1 mb1 navy bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 bg-navy ghost border border-yellow'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                }

            </script> -->
            <button id="about" , onclick="home()">About Us</button>
            <button id="contact" , onclick="contact()">Contact</button>
            <script>
                function contact() {
                    document.getElementById("text").innerHTML =
                        "<h1 style='text-align: center; font-family: Cardo'>Contact</h1> \
                        <div class='container'>\
                            <!-- < form action = '/action_page.php' > -->\
                                <label for='fname'>First Name</label>\
                                <input type='text' id = 'fname' name = 'firstname' placeholder = 'Your name..' >\
                                <label for='lname'>Last Name</label>\
                                <input type='text' id='lname' name='lastname' placeholder='Your last name..'>\
                                        <label for='country'>Country</label>\
                                        <select id='country' name='country'>\
                                            <option value='usa'>United States</option>\
                                            <option value='canada'>Canada</option>\
                                            <option value='australia'>Australia</option>\
                                        </select>\
                                        <label for='subject'>Subject</label>\
                                        <textarea id='subject' name='subject' placeholder='Write something..' style='height: 200px'></textarea>\
                                        <input type='submit' value='Submit'>\
                            </form>\
                        </div>"
                };
            </script>
        </div>



    </div>

    <div class="headlines-wrapper">
        <div class="sources">
            <script>
                function natCom() {
                    document.getElementById('source1').style = "background-color: #ededed; border: 1px solid black; border-radius: 10px;";
                    document.getElementById('source2').style = "background-color: white;";
                    document.getElementById('source3').style = "background-color: white;";
                    document.getElementById('source4').style = "background-color: white;";
                    document.getElementById("text").innerHTML =
                        "<h1 style='text-align: center; font-family: Cardo;'>Headlines</h1>\
                        <ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in ncom[0].items() %}\
                        <li class='p1 mb1 bg-white' style='position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px; cursor: pointer;'>\
                        {{ key }} <a href={{ value }} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 ghost'\
                                style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                }
                function plos() {
                    document.getElementById('source2').style = "background-color: #ededed; border: 1px solid black; border-radius: 10px;";
                    document.getElementById('source1').style = "background-color: white;";
                    document.getElementById('source3').style = "background-color: white;";
                    document.getElementById('source4').style = "background-color: white;";
                    document.getElementById("text").innerHTML =
                        "<h1 style='text-align: center; font-family: Cardo;'>Headlines</h1>\
                        <ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in plos[0].items() %}\
                        <li class='p1 mb1 bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px; cursor: pointer;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 ghost'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                }
                function sciReports() {
                    document.getElementById('source3').style = "background-color: #ededed; border: 1px solid black; border-radius: 10px;";
                    document.getElementById('source1').style = "background-color: white;";
                    document.getElementById('source2').style = "background-color: white;";
                    document.getElementById('source4').style = "background-color: white;";
                    document.getElementById("text").innerHTML =
                        "<h1 style='text-align: center; font-family: Cardo;'>Headlines</h1>\
                        <ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in scireports[0].items() %}\
                        <li class='p1 mb1 bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px; cursor: pointer;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 ghost'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                }
                function sciAdv() {
                    document.getElementById('source4').style = "background-color: #ededed; border: 1px solid black; border-radius: 10px;";
                    document.getElementById('source1').style = "background-color: white;";
                    document.getElementById('source2').style = "background-color: white;";
                    document.getElementById('source3').style = "background-color: white;";
                    document.getElementById("text").innerHTML =
                        "<h1 style='text-align: center; font-family: Cardo;'>Headlines</h1>\
                        <ul onclick='sort()' class='ml4 js-sortable-oneway-receive sortable list flex flex-column list-reset'>\
                        {% for key, value in sciadv[0].items() %}\
                        <li class='p1 mb1 bg-white' style = 'position: relative; z-index: 10; border: 1px solid grey; border-radius: 3px; cursor: pointer;'>\
                        {{key}} <a href={{value}} target='_blank'>Link</a>\
                        </li>\
                        {% endfor %}\
                        <li class='mb1 ghost'\
                        style='position: relative; z - index: 1; margin - top: -49px; height: 40px; display: block;'></li>\
                        </ul>";
                }
            </script>
            <h1 style="text-align: center; font-family: 'Cardo';">Sources</h1>
            <ul id='dynamic-list' style="list-style: none; padding-left: none;font-family: Cardo;">
                <li id='source1'>
                    <a onclick="natCom()" style="cursor: pointer;  position: relative;
                    top: 12px;"><img src="{{ url_for('static',filename='images/nature_communications.jpg') }}"
                            alt="Nature Communications" height='40' width='98.2'></a></li>
                <li id='source2'>
                    <a onclick="plos()" style="cursor: pointer; position: relative;
                    top: 12px;"><img src="{{ url_for('static',filename='images/plos.png') }}" alt="PLOS One"
                            height='40' width='128'></a>
                </li>
                <li id='source3'>
                    <a onclick="sciReports()" style="cursor: pointer;  position: relative;
                    top: 12px;"><img src="{{ url_for('static',filename='images/scientific_reports.jpg') }}"
                            alt="Scientific Reports" height='40' width='79'> </a>
                </li>
                <li id='source4'><a onclick="sciAdv()" style="cursor: pointer;  position: relative;
                    top: 12px;"><img src="{{ url_for('static',filename='images/science_advances.jpeg') }}"
                            alt="Science Advances" height='40' width='79'> </a></li>
                <li></li>
                <li></li>
            </ul>
            <a class="btn-liquid">
                <span class="inner" id="myBtn">Customize</span>
            </a>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Choose the following sources you would like to see content from</p>
                    <form action="/customize.php">
                        Nature Commucations: <input type="checkbox" name="ncominput" value="true">
                        <br>
                        PLOS One: <input type="checkbox" name="plosinput" value="true">
                        <br>
                        Scientific Reports: <input type="checkbox" name="scirepinput" value="true">
                        <br>
                        Science Advances: <input type="checkbox" name="sciadvinput" value="true">
                        <br>
                        <br>
                        <input type="submit">
                    </form>
                </div>

            </div>
            <script>
                // Get the modal
                var modal = document.getElementById("myModal");

                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal 
                btn.onclick = function () {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>



        </div>
        <div class="headlines">
            <div id="text">
                <div class="homeinfo">
                    <div class='homeinfo'>
                        <h1 style='text-align: center; font-family: Cardo'>Welcome to Scholarly</h1>
                        <h2 style='font-family: Cardo;'>Our mission</h2>
                        <p id='mission'>At Scholarly, we aim to provide simple and easy access to leading scientific
                            journals around
                            the world. Here readers can stay up to date on the latest scientific articles and
                            discoveries. Scholar.ly acts as a hub for all your scholarly pursuits. We believed a simple,
                            clean, and intuitive user interface was crucial to the quality
                            of our service. Scholarly uses the latest web-scraping software to deliver accurate and high
                            quality results. </p>
                    </div>

                </div>
            </div>


        </div>


        <div class="saved">

            <h1 style="text-align: center; font-family: 'Cardo';">Saved Articles</h1>

            <div class="p3 clearfix black">

                <ul class="js-sortable-oneway-receive sortable list list-reset flex flex-column">
                    <li class="p1 mb1 bg-yellow list-reset" style="position: relative; z-index: 10">Drag articles
                        here!</li>
                    <li class="p1 mb1 bg-green list-reset" style="position: relative; z-index: 10">Drag articles
                        here!</li>
                    <li class="p1 mb1 bg-teal list-reset" style="position: relative; z-index: 10">Drag articles
                        here!</li>
                    <li class="p1 mb1 bg-fuchsia list-reset" style="position: relative; z-index: 10">Drag articles
                        here!</li>
                    <li class="mb1 ghost border"
                        style="position: relative; z-index: 1; margin-top: -49px; height: 40px; display: block;">
                    </li>
                </ul>

            </div>
        </div>


    </div>


    <h2>Modal Example</h2>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>



    <!-- This code dictates behavior of highlighters-->
    <script>
        sortable('.js-sortable-oneway', {
            forcePlaceholderSize: true,
            acceptFrom: false,
            placeholderClass: 'mb1 border'
        });
        sortable('.js-sortable-oneway-receive', {
            forcePlaceholderSize: true,
            acceptFrom: '.js-sortable-oneway,.js-sortable-oneway-receive',
            placeholderClass: 'mb1 bg-white border border-grey',
            customDragImage: function (draggedElement, elementOffset, event) {
                draggedElement.style.border = "1px solid grey"
                return {
                    element: draggedElement,
                    posX: event.pageX - elementOffset.left,
                    posY: event.pageY - elementOffset.top
                }
            }
        });
    </script>


</body>

</html>