<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">


    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="script.js"></script>


    <title>Hello Top Secret Project</title>
</head>

<body>

    <div class="container">
        <div class="row">

            <div class="sidenav col-md-2">

                <div class="logo">
                    <a>Top Secret</a>
                </div>

                <ul>
                    <li><button id="category1" , onclick="myFunction()">Biological Sciences</button>
                        <script>
                            function myFunction() {
                                document.getElementById("text").innerHTML = "Paragraph changed!";
                            } </script>
                    </li>
                    <li><button id="category2" , onclick="myFunction()">Society</button>
                        <script>
                            function myFunction() {
                                document.getElementById("text").innerHTML = "Paragraph changed!";
                            } </script>
                    </li>
                    <li><button id="category3" , onclick="myFunction()">Earth?</button>
                        <script>
                            function myFunction() {
                                document.getElementById("text").innerHTML = "Paragraph changed!";
                            } </script>
                    </li>
                </ul>



            </div>
            <div class="col-md-7" , id="col1" , style="background-color: white">
                <h1>HEADLINES</h1>

                <table id="data">
                    {% for key, value in data.items() %}
                    <tr>
                        Key: {{key}}
                    </tr>

                    {% endfor %}
                </table>




            </div>


            <div class="col-md-3" , id="col2" , style="background-color: green">
                <h1>SAVED</h1>

                <p>Value from the list: {{data[3]}}</p>
                <p>Loop through the list:</p>
                <p> i am {{ data }}</p>
                <ul>
                    {% for n in data %}
                    <li>{{n}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


</body>

</html>